@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    background-color: #f0f0f0;
    color: #333;
    font-family: Arial, sans-serif;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
    transform: translateY(-50%);
    animation: fadeIn 1s ease-out;
}

.welcome__title {
    font-size: 5em;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    color: black;
}

.welcome__buttons {
    justify-content: center;
    align-items: center;
    display: flex;
}

.welcome__button {
    font-size: 1.2rem;
    padding: 10px 20px;
    background-color: #ff6347;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-right: 10px;
}

.welcome__button:hover {
    background-color: #ff4500;
}